:root{
    --glow:#00ffe5;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;

    background: linear-gradient(270deg,#020024,#090979,#000,#001f3f);
    background-size:600% 600%;
    animation:bgMove 15s ease infinite;
    color:white;
}

@keyframes bgMove{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

/* canvas */
#particles{
    position:fixed;
    inset:0;
    z-index:-2;
}

/* card */
.card{
    width:430px;
    padding:25px;
    border-radius:30px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,0.15);
    text-align:center;
    position:relative;
    box-shadow:0 0 30px rgba(0,255,200,0.25);
}

/* header */
.header{
    font-size:28px;
    font-weight:bold;
    color:#00ffcc;
}

/* info */
.info{
    margin-top:10px;
    font-size:14px;
    color:#ddd;
}

.value{
    color:#00ffcc;
    font-weight:bold;
}

/* zone */
.zone{
    margin-top:15px;
    font-size:26px;
    font-weight:bold;
}

/* suggestion */
.suggestion{
    margin-top:8px;
    color:#ffd700;
    font-size:14px;
}

/* slider */
.slider{
    width:100%;
    margin-top:20px;
}

/* chart */
.graph-wrap{
    margin-top:10px;
    padding:15px;
    border-radius:20px;
    background:rgba(255,255,255,0.05);
}

#chart{
    width:100%!important;
    height:170px!important;
}

/* ripple */
.ripple{
    position:absolute;
    width:20px;
    height:20px;
    border:3px solid red;
    border-radius:50%;
}

/* heart */
.heart{
    font-size:80px;
}
